.menu{
 color: black;
    background-color: lightcoral;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}
.info {
  color: white;
  background-color:coral;
}
.popyga {
  text-decoration: none;
  color: chocolate;
}
.hoh {
  background-color: yellowgreen;
  border-radius: 10px;
}
body {
  background-color: yellow;
}
.ponchik {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: blue;
  border-radius: 20px;
  padding: 5px;
  margin: 5ppx;
}
